:root {
    font-family: "Open Sans";
}

#send-btn {
    width: 200px;
    height: 90px;
    background-color: #ececec;
    outline: none;
    border: none;
}
#send-btn:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfdfdfa4;
    pointer-events: none;
    justify-content: center;
    align-items: center;
}
form {
    pointer-events: all;
    width: 500px;
    height: 700px;
    background-color: #fff;
    padding: 40px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
}
label {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
}

input {
    height: 20px;
}

#last-input {
    height: 40px;
}
